<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1 v-if="fans > 50 ">{{ "Lord " + product }}</h1>
            <h1 v-else>{{ product }}</h1>
            <p v-if="fans > 5">Our dear leader</p>
            <p v-else-if="fans <=5 && fans >0">Is he the real deal ?</p>
            <p v-else>Filfy animal</p>
            <p v-if="fans >=10 && isStreaming">ON LIVE</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
